/* タブレット向けレイアウト */

/* ブレイクポイントが1000px以下のときのメディアクエリを設定してください */
@media (max-width:1024px) {

 /*ヘッダー*/
 .header-right-pc{display: none;}

 /*ハンバーガー*/
/*　ハンバーガーボタン　*/
.hamburger {
  display : block;
  position: fixed;
  z-index : 12;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}

nav.globalMenuSp {
  position:fixed;
  z-index :11;
  top  : 0;
  left : 0;
  color: #000;
  background: goldenrod;
  text-align: center;
  transform: translateX(100%);
  transition: all 0.6s;
  width: 100%;
}
.header-right-sp ul{
  display: block;
}
nav.globalMenuSp ul {
  background:gainsboro;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #000;
  padding: 1em 0;
  text-decoration :none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  transform: translateX(0%);
}

/*メインのもじ*/
.highlight{
  background-color:rgba(255,255,255,0.3);
}


.flex-list{
  flex-wrap:wrap;
}
  
.flex-list li{
  width:50%;
}
.steamWrap.footer-right img{
  width: 20%;
}

.news_list_item a {
  display: block;
}






/* スマホ向けレイアウト */
@media (max-width:670px) {
 
   

.flexcard section
{
  width: 100%;
}
  .flex-list {
    flex-direction: column;
  }
  
  .flex-list li{
    margin:0 auto;
  }


td{
  padding: 10px 20px;
}/*スマホの時は電話かけたりしやすいようにスペースをパディング１０くらいとっておく。明確にわかりやすく押しやすく！*/

table{
  margin: 0 auto;
  max-width: 800px;
}

}



@media screen and (max-width: 769px) {

.home{
  sdisplay: none
}
.gif{
  display: block;
  }
  .gif img{
    width: 100%;
  }


  .news_list_item a  {
      font-size: 14px;
  }


}
@media screen and (max-width: 480px) {
  .arrow {
      display: none;
  }
  .news_list_item a {
      padding-right: 0;
  }
}